@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-color {
    background-color: #2F1893;
    height: 100vh;
}

.text-color {
    color: white;
}

.text-center {
    text-align: center;
}

.h-1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4px;

}

section {
    display: flex;
    align-items: center;
}

.p-1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    max-width: 702px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29.2px;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 58px;


}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.box {
    height: 160px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #4E3AA3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mb-24 {
    margin-bottom: 24px;
}